<template name="join">
	<div class="join-container">
		<h3>Join</h3>
		<p>Make your own linkCue lists</p>
		<form>
			<div class="input-email">
				<div class="error">{{emailError}}</div>
				<input type="email" name="email" placeholder="Your email" />
				<span class="icon-envelope" title="Your Email"></span>
			</div>
			<div class="input-password">
				<div class="error">{{passwordError}}</div>
				<input type="password" name="password" placeholder="Password" />
				<span class="icon-lock" title="Password"></span>
			</div>
			<div class="input-password">
				<div class="error">{{confirmError}}</div>
				<input type="password" name="confirm" placeholder="Confirm Password" />
				<span class="icon-lock" title="Confirm Password"></span>
			</div>
			<button type="submit" class="btn-primary">Join</button>
		</form>
	</div>
</template>
