<template name="showCategory">
	{{#if editing}}
		<form class="edit-form">
			<input type="text" name="name" value="{{name}}">
			<div class="nav-group right">
				<a href="#" class="edit-cancel"><span class="icon-close edit-cancel" title="Cancel"></span></a>
			</div>
		</form>
		{{else}}
		<h3 class="edit-category">{{ name }}</h3>
	{{/if}}
	<h3>( {{ linkNum }} ) </h3>
	<br>
	<div class="add-link">
		<form class="new-link">
			<input type="text" placeholder="Insert link url here">
			<span class="icon-plus"></span>
		</form>
	</div>
	<div class="link-list">
		{{#with _id }}
			{{#each links this}}
				{{> linkItem}}
				{{else}}
				<p>
					No Url's here. Add a new Url
				</p>
			{{/each}}
		{{/with}}
	</div>
</template>